* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  color: #eee;
}

.container {
  border: #eee 2px solid;
  margin: 50px;
}
